.bgimage {
    background-image: url("../images/movAbility.jpg");
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    overflow: hidden;
    background-attachment: fixed;
}

#inputs {
    display: inline-block;
    width: auto;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-top: 3%;
    border: 3px solid white;
    border-radius: 10px;
}

.display-3 {
    font-weight: 400;
    text-shadow: 10%;
}

#secondHeader {
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

#dropdown {
    width: 100%;
}

#txtBegin {
    color: black;
    font-size: 30px;
}

#txtEnd {
    color: black;
    font-size: 30px;
}

#searchIcon {
    background: transparent !important;
    border: transparent !important;
    margin-top: 0.5%;
}

#searchIcon:focus #searchIcon:hover {
    border: 0px transparent !important;
}

.searchIconZoom {
    transition: transform 0.2s;
    margin: 0 auto;
}

.searchIconZoom:hover {
    transform: scale(1.2);
}

#WhiteLogo {
    margin-top: 5%;
}

.iataLogo {
    transition: transform 0.2s;
    margin: 0 auto;
}

.iataLogo:hover {
    transform: scale(1.2);
}

#card {
    border-radius: 50px;
    background-color: white;
    opacity: 0.85;
}

#card:hover {
    background-color: black;
    opacity: 0.98;
    color: white;
    font-style: italic;
}

.cardDeck {
    margin-top: 2%;
    margin-bottom: 3%;
}

.sliders h3,
.sliders p {
    color: black;
}