.bgimage {
    background-image: url("../images/movAbility.jpg");
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    overflow: hidden;
    background-attachment: fixed;
}

#inputs {
    width: 60%;
    margin-left: 10%;
    padding-left: 15%;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-top: 5%;
    border: 3px solid white;
    border-radius: 10px;
}

#txtBegin {
    color: white;
    font-size: 30px;
}

#txtEnd {
    color: white;
    font-size: 30px;
}

#searchIcon {
    background: transparent !important;
    border: transparent !important;
    margin-top: 3%;
    margin-left: -35%;
}

#searchIcon:focus #searchIcon:hover {
    border: 0px transparent !important;
}

.searchIconZoom {
    transition: transform 0.2s;
    margin: 0 auto;
}

.searchIconZoom:hover {
    transform: scale(1.2);
}

#WhiteLogo {
    margin-top: 5%;
}

.iataLogo {
    transition: transform 0.2s;
    margin: 0 auto;
}

.iataLogo:hover {
    transform: scale(1.2);
}

#card {
    border-radius: 50px;
    background-color: white;
    opacity: 0.85;
}

#card:hover {
    background-color: black;
    opacity: 0.98;
    color: white;
    font-style: italic;
}

.cardDeck {
    margin-top: 2%;
    margin-bottom: 3%;
}

.sliders h3,
.sliders p {
    color: black;
}