.bgimage {
    background-image: url("../images/movAbility.jpg");
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    overflow: hidden;
    background-attachment: fixed;
}

#card {
    border-radius: 50px;
    background-color: white;
    opacity: 0.85;
}

#card:hover {
    background-color: black;
    opacity: 0.98;
    color: white;
    font-style: italic;
}

.cardDeck {
    margin-top: 2%;
    margin-bottom: 3%;
}

.sliders h3,
.sliders p {
    color: black;
}