.navBackground {
    background-color: #1565c0;
}

.smallFont {
    font-size: 0.6em;
}

.mov {
    color: rgb(223, 90, 90);
}

.ability {
    color: darkblue;
}

.active{
    color: white;
}

.active:hover, .active:focus{
    outline: none !important;
    text-decoration: underline #1565c0 !important;
    color:black;
}
.placeHolder{
    margin-right: 10%;
}