.navBackground {
    background-color: #1565c0;
}

.smallFont {
    font-size: 0.6em;
}

.mov {
    color: rgb(223, 90, 90);
}

.ability {
    color: darkblue;
}

.active {
    color: white;
    height: 100%;
}

.active:focus {
    outline: none !important;
    text-decoration: underline #0d47a1 !important;
    color: black;
}

.placeHolder {
    margin-right: 10%;
}

.active:hover {
    background-color: #0d47a1;
}