.wrapper{
    margin-left:20%;
    margin-right:20%;
    margin-top:1.5%;
    margin-bottom:2%;
}

.wrapper label:hover{
  font-weight: 600;
}

.np2p:focus{
    outline: none !important;
}


.newRequestBtn{
    margin-top:2%;
    width:50%;
    margin-left: 25%;
}

.desc{
    width:100%;
}
